<p class="title">Todos</p>

<div class="container todos-area">
    <div ng-if="$ctrl.todos.length==0">
        <p class="add-todo-text-big" ng-click="$ctrl.openForm()">+ Add a todo</p>
    </div>
    
        <div class="card-container" ng-click="$ctrl.openForm()">
            <div class="todo-card">
                <p class="add-todo-text-small">+ Add a todo</p>
            </div>
        </div>
        <div ng-if="$ctrl.todos.length>0">
            <div ng-repeat="todo in $ctrl.todos" class="card-container">
                <div class="todo-card">
                    <h4 class="todo-card-title"><b>{{todo.title}}</b></h4>
                    <div class="todo-card-row">
                        <div class="todo-card-label">Description: </div>
                        <div class="info-date">{{todo.description}}</div>
                    </div>
                    <div class="todo-card-row">
                        <div class="todo-card-label">Added date: </div>
                        <div class="info-date">{{todo.addedDate}}</div>
                    </div>
                    <div class="todo-card-row">
                        <div class="todo-card-label">Expiration date: </div>
                        <div class="info-date">{{todo.expirationDate}}</div>
                    </div>
                </div>
            </div>
        </div>

</div>

<div ng-if="$ctrl.addModal" class="container">
    <add-form></add-form>
</div>
